@model HYDlgn.Framework.AppModel.HomeModel
@using HYDlgn.jobweb.Tools
@{
    ViewBag.Title = "Index";
}

<div class="thumbnail-container">
    @foreach (var link in Model.Links)
    {
        <div class="thumbnail">
            <div class="modal-wrapper">
                <a href="@link.Url">
                    <img src="@Url.Content("~/Content/images/"+ (link.LinkName.Contains("Submission") ? "design_submission.png": (link.LinkName.Contains("Register") ? "job_register.png": "express_permit.png")))" />
                </a>
                <span class="span-1 hidden">@link.LinkName</span>
            </div>
            
            
            
        </div>
    }
</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.home.js")"></script>
}


@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/home.css")" />
}

