@model HYDlgn.Framework.AppModel.HomeModel
@using HYDlgn.jobweb.Tools
@{
    ViewBag.Title = "Index";
}

<div class="thumbnail-container">
    @foreach (var group in Model.Groups)
    {
        var groupname = "";
        var firstgrouplink = Model.Links.FirstOrDefault(e => e.LinkGroup == group);
        var imageprefix = firstgrouplink?.ImagePrefix ?? group;
        switch (group)
        {
            case "B":
                groupname = "Common Portal";
                break;

            case "S":
                groupname = "General Teams Portal";
                break;
            case "T":
                groupname = "Projects Teams Portal";
                break;
            case "R":
                groupname = "IT Inventory Record";
                break;

        }

        <div class="group-portal" group="@group">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="300px" height="729px" style="position:absolute;"
                 xml:space="preserve">
                <g>
                <image xlink:href="@Url.Content("~/Content/images/"+imageprefix+"_column.png")" width="300px" height="729px"></image>
                </g>
            </svg>
            <div class="group-spanner" style="z-index:1000"><span >@groupname</span></div>
            @foreach ((var i, var link) in Model.Links.Where(e => e.LinkGroup == group).Select((link,i)=> ( i,link) ))
            {
                var imagename = "";
                switch (group + i)
                {
                    case "B0":
                        imagename = "B0_Car.png";
                        break;
                    case "B1":
                        imagename = "B1_Room.png";
                        break;


                    case "T2":
                        imagename = "T2_PIS.png";
                        break;
                    case "T1":
                        imagename = "T1_Parapet.png";
                        break;
                    case "T0":
                        imagename = "T0_BFA.png";
                        break;
                    case "S0":
                        imagename = "S0_Design_Submission.png";
                        break;
                    case "S2":
                        imagename = "S2_EWP.png";
                        break;
                    case "S1":
                        imagename = "S1_EWPA_Register.png";
                        break;


                }
                <div class="thumbnail-trans">
                    <div class="modal-wrapper">
                        <a href="@link.Url" target="_blank">
                            <img src="@Url.Content("~/Content/images/"+imagename )" />
                        </a>
                        <span class="span-1 hidden">@link.LinkName</span>
                    </div>



                </div>
            }
        </div>
    }

</div>


@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.home.js")"></script>
}


@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/home.css")" />
}

