@using HYDlgn.Abstraction
@using HYDlgn.jobweb.Tools

@{
    var TagId = (int)(HttpContext.Current.Session[Constants.Session.TagId] ?? 0);
    var UserId = HttpContext.Current.Session[Constants.Session.UserId];
    var UserName = HttpContext.Current.Session[Constants.Session.UserName];
    var Division = HttpContext.Current.Session[Constants.Session.Division];
    var UserLevel = HttpContext.Current.Session[Constants.Session.UserLevel]?.ToString() ?? "";
    var DisplayMessage = "";
    var DisplayCount = "";
    string LayoutName = ViewBag.LayoutName;
    string BackName = ViewBag.BackName;
    string BackSubName = ViewBag.BackSubName;
    var fullmenu = (bool?)HttpContext.Current.Session[Constants.Session.FullMenu] ?? true;
    var DisplayUser = "";
    if (!string.IsNullOrEmpty($"{UserId}{UserName}"))
    {
        DisplayUser = (UserName == null ? UserId : UserName)?.ToString();
    }
    if (!string.IsNullOrEmpty(DisplayUser))
    {
        DisplayUser = $"{DisplayUser}";
        DisplayMessage = HttpContext.Current.Session[Constants.Session.Message]?.ToString();
        if (!string.IsNullOrEmpty(DisplayMessage))
        {
            DisplayCount = "(" + HttpContext.Current.Session[Constants.Session.MessageCount]?.ToString() + ")";
        }

    }
    var returnurl = Request.Url.PathAndQuery;
    var hiddenlogon = string.IsNullOrEmpty(DisplayUser) ? "hidden" : "";
    var hiddenhomeicon = string.IsNullOrEmpty(DisplayUser) ? "" : "hidden";
    var loginattr = string.IsNullOrEmpty(DisplayUser) ? "false" : "true";

    var userLevelvalue = 99999;
    var isAdmin = HttpContext.Current.Session[Constants.Session.IsAdmin] != null && (bool)HttpContext.Current.Session[Constants.Session.IsAdmin];
    var isPower = false;


    if (!string.IsNullOrEmpty(UserLevel) && int.TryParse(UserLevel, out userLevelvalue))
    {
        userLevelvalue = int.Parse(UserLevel);
        isPower = userLevelvalue < 18;

    }
    else
    {
        userLevelvalue = 99999;
    }

    var hiddenAccountbtn = isAdmin ? "" : "hidden";


}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.LayoutName by HyD/B&S</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    <style>
        :root {
            --mdc-typography-caption-font-size: 1rem;
        }


    </style>
    @RenderSection("styles", required: false)
</head>
<body class="layoutbg-pic">
    <div class="navbar navbar-inverse nav-bg-main layoutbg-color navbar-fixed-top noborder">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="layoutheader-BackPos">
                    <p class="layoutheader-BackName" >
                        @BackName
                    </p>
                    <p class="layoutheader-BackSubName" >
                        @BackSubName
                    </p>
                </div>
                <div class="iconwrap loginicon-column-center" style="justify-content:center">


                    <div class="layoutheader-spanner"></div>
                    <a href="@Url.Action("Index","Home")">
                        <span class="icon @hiddenhomeicon">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 width="84px" height="84px"
                                 xml:space="preserve">
<g>
<image xlink:href="@Url.Content("~/Content/images/T-home.png")" width="84px" height="84px"></image>
</g>
</svg>
                        </span>
                    </a>
                    @Html.ActionLink(LayoutName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand header-bg-main layoutheader-name" , login=$"{loginattr}" })

                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <div class="link10 bottom-top-me  corner4-35r">
                    <a class="link-gray @hiddenlogon" href="@Url.Action("ChangePassword","Account")">@UserId</a>
                    <a class="btn-round-big btn-secondary-cool @hiddenlogon" href="@Url.Action("Login","Account",new { returnUrl=returnurl,needClear=true } )">Log-out</a>
                </div>
            </div>



        </div>
    </div>
    <div class="Loading loading-wrapper">
        <div class="Loading-progress"></div>
    </div>
    <div class="container body-content @ViewBag.ContentWidth">


        @RenderBody()
        <hr />
        <div class="clearcontainer origin hidden" tabindex="0" aria-label="clear" role="button">
            <span class="clearwrap">
                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">

                    </path>
                </svg>
            </span>
        </div>
        <footer class="@hiddenlogon">
            <p>&copy; @DateTime.Now.Year - @ViewBag.LayoutName by HyD/B&S</p>
        </footer>
    </div>
    <script>
        
        var _isAdmin = @(isAdmin.ToString().ToLower());
        var _isPower = @(isPower.ToString().ToLower());
        var _userid = "@(TagId >0 ? $"u!{TagId}": $"!restricted")";
        var _baseUrl = "@Url.Content("~/")";
        var _autocompletebaseUrl = "@Url.Content("~/api/autocomplete/")";

        var _tooltipinboxselector = "#inbox-tooltip";

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/my.site.js")"></script>
</body>
</html>
